@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@import '_variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $--primary-color-light-gray ;
  display: flex;
  justify-content: space-around;
  font-family: 'Outfit', sans-serif;
}